.task_form {
  display: flex;
  position: relative;
  width: 60%;
  align-items: center;
  margin: auto;
  padding: 100px 0;
}

.add_task_input {
  width: 100%;
  font-size: 25px;
  padding: 20px;
  border-radius: 50px;
  border: none;
  background-color: #eeeeee;
}

.add_task_input:focus {
  outline: none;
  box-shadow: 0 0 5px rgb(114, 114, 114);
}

.add_task_button {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: #23a8f3;
  color: #ffffff;
  box-shadow: 0 0 5px rgb(114, 114, 114);
  right: 0px;
  margin: 25px;
  transition: 0.2s all;
}

.add_task_button:hover {
  transform: scale(0.9);
  box-shadow: 0 0 2.5px rgb(114, 114, 114);
  cursor: pointer;
  background-color: #128acf;
}
